---
import Layout from "../layouts/Layout.astro";
import TextTitle from "../components/TextTitle.astro";
import StatIndicator from "../components/StatIndicator.astro";
import SectionTitle from "../components/SectionTitle.astro";
import UnderlineText from "../components/UnderlineText.astro";
import TextCard from "../components/TextCard.astro";
import type { Stats } from "../models/stats";
import type { Config } from "../models/config";
import ActivitiesCalendar from "../components/ActivitiesCalendar.astro";
import Footer from "../components/Footer.astro";

const apiEndpoint = import.meta.env.HYGRAPH_ENDPOINT;

const query = {
  method: "POST",
  headers: { "Content-Type": "application/json" },
  body: JSON.stringify({
    query: `
        {
          statistics {
            id
            statName
            statQuantity
          }
          config(where: {id: "cle00dunc3ikr0bkm271oym1e"}) {
            id
            schoolName
            phone
            address
            workingHours
            institutionalSeals
          }
        }`,
  }),
};
const response = await fetch(apiEndpoint, query);
const json = await response.json();

const stats: Stats[] = json.data.statistics;
const config: Config = json.data.config;
---

<Layout title={config.schoolName}>
  <div class="container mx-auto pt-12 md:pt-0 pb-20">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
      <TextTitle />
      <img class="hidden md:block" src="/header_img.png" alt="" />
    </div>
  </div>

  <div class="bg-lnsf-blue py-6 md:py-14">
    <div class="container mx-auto">
      <div
        class="grid grid-cols-1 divide-y md:divide-y-0 md:divide-x divide-white/25 md:grid-cols-2 lg:grid-cols-4 items-center justify-center"
      >
        {
          stats.map((stat) => {
            return (
              <StatIndicator number={stat.statQuantity} text={stat.statName} />
            );
          })
        }
      </div>
    </div>
  </div>

  <div class="container mx-auto py-24">
    <div class="py-12">
      <SectionTitle>
        Bienvenidos al
        <UnderlineText>Nibaldo</UnderlineText>
      </SectionTitle>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 py-12">
      {
        config.institutionalSeals.map((item) => {
          return <TextCard title={item.name} body={item.description} />;
        })
      }
    </div>
  </div>

  <div class="container mx-auto py-24">
    <div class="py-12">
      <SectionTitle>
        Calendario de
        <UnderlineText>Actividades</UnderlineText>
      </SectionTitle>
      <p class="text-center my-6 text-lg">
        ¡No te pierdas ninguna novedad! Revisa nuestro sitio regularmente.
      </p>
      <div class="grid grid-cols-1 lg:grid-cols-2 py-12">
        <ActivitiesCalendar />
      </div>
    </div>
  </div>

  <div class="container mx-auto py-12">
    <SectionTitle>
      ¿Qué esperas?
      <UnderlineText>¡Únete al Nibaldo!</UnderlineText>
    </SectionTitle>
    <Footer />
  </div>
</Layout>
