---
import { LIRMI_URL, MENU_ITEMS, REGLAMENTO_URL } from "../config/menuItems";
import { config } from "../services/getConfig";
import { getLinkUrlFirstSegment } from "../utils";
import Logo from "./Logo.astro";
import NavButton from "./NavButton.astro";

interface Props {
  pathName: string;
}

const { pathName } = Astro.props;
---

<div class="hidden md:flex justify-between items-center">
  <div class="flex gap-4 items-center">
    <Logo size={75} />
    <div class="flex flex-col">
      <a href="/">
        <p class="font-bold">Liceo Bicentenario</p>
        <p>Nibaldo Sepulveda Fernández</p>
      </a>
    </div>
  </div>

  <nav>
    <ul class="flex gap-2 text-gray-400">
      {
        MENU_ITEMS.map((item) => {
          return (
            <li
              class={
                pathName === getLinkUrlFirstSegment(item.link)
                  ? "text-lnsf-blue font-bold cursor-pointer"
                  : "cursor-pointer hover:text-lnsf-blue"
              }
            >
              <a href={item.link}>{item.title}</a>
            </li>
          );
        })
      }
      <NavButton text="Estudiantes" link={LIRMI_URL} />
      <NavButton text="Reglamento" link={REGLAMENTO_URL} />
      <li>
        <a href={config.instagram}>
          <img width={23} src="/igLogo.svg" alt="instagram logo" />
        </a>
      </li>
      <li>
        <a href={config.facebook}>
          <img width={23} src="/fbLogo.svg" alt="facebook logo" />
        </a>
      </li>
    </ul>
  </nav>
</div>
