---
import { formatDate, formatTime } from "../utils";
import ShowDate from "./ShowDate.astro";
import ShowTime from "./ShowTime.astro";

interface Props {
  title: string;
  category: string[];
  dateTime: string;
  link: string;
}

const { title, category, dateTime, link } = Astro.props;
---

<div
  class="border-2 border-lnsf-light rounded-md px-8 py-6 flex flex-col gap-4 shadow-lnsf h-60 bg-white"
>
  <div class="flex justify-between">
    <ShowDate date={formatDate(dateTime)} />
    <ShowTime time={formatTime(dateTime)} />
  </div>
  <h3 class="text-4xl">{title}</h3>
  <div class="flex justify-between">
    <div class="flex gap-2">
      {
        category.map((c) => {
          return (
            <p class="text-lnsf-light-text py-1 px-2 rounded-sm bg-slate-200">
              {c}
            </p>
          );
        })
      }
    </div>
    <a href={`/noticias/${link}`}>Leer noticia</a>
  </div>
</div>
