---
import { MENU_ITEMS } from "../config/menuItems";
import FooterArticle from "./FooterArticle.astro";
import FooterTitle from "./FooterTitle.astro";
import Info from "./Info.astro";
import { getConfig } from "../services/getConfig";
import { getBlogPosts } from "../services/getBlogPosts";

const config = await getConfig();
const blogPost = await getBlogPosts(2);
---

<div class="grid grid-cols-1 md:grid-cols-3 gap-10 md:gap-4 mt-24">
  <div>
    <FooterTitle>Conversemos</FooterTitle>
    <div class="flex flex-col gap-6">
      <Info icon="/svgTelephone.png" title="Teléfono" info={config.phone} />
      <Info
        icon="/svgTime.png"
        title="Horario de atención"
        info={config.workingHours}
      />
      <Info icon="/svgPin.png" title="Ubicación" info={config.address} />
    </div>
  </div>
  <div>
    <FooterTitle>Algunos Links</FooterTitle>
    <div class="flex flex-col gap-1">
      {
        MENU_ITEMS.map((item) => {
          return (
            <div class="flex gap-2">
              <span class="text-lnsf-blue">---</span>
              <a href={`${item.link}`}>{item.title}</a>
            </div>
          );
        })
      }
    </div>
  </div>

  <div class="flex flex-col gap-2">
    <FooterTitle>Noticias</FooterTitle>
    {
      blogPost.map((post) => {
        return <FooterArticle content={post} />;
      })
    }
  </div>
</div>
