---
import logo from "../images/logo.png";
import { MENU_ITEMS } from "../config/menuItems";
import { config } from "../services/getConfig";
const pathname = Astro.url.pathname;
const pathnameFirstSegment = pathname.split("/")[1];
import { getLinkUrlFirstSegment } from "../utils";
---

<div class="container mx-auto px-4 py-6">
  <div class="hidden md:flex justify-between items-center">
    <div class="flex gap-4 items-center">
      <a href="/">
        <img width={65} height={66} src={logo} alt="logo lnsf" />
      </a>
      <div class="flex flex-col">
        <p class="font-bold">Liceo Bicentenario</p>
        <p>Nibaldo Sepulveda Fernández</p>
      </div>
    </div>

    <nav>
      <ul class="flex gap-2 text-gray-400">
        {
          MENU_ITEMS.map((item) => {
            return (
              <li
                class={
                  pathnameFirstSegment === getLinkUrlFirstSegment(item.link)
                    ? "text-lnsf-blue font-bold cursor-pointer"
                    : "cursor-pointer hover:text-lnsf-blue"
                }
              >
                <a href={item.link}>{item.title}</a>
              </li>
            );
          })
        }
        <li>
          <a href={config.instagram}>
            <img width={23} src="/igLogo.svg" alt="instagram logo" />
          </a>
        </li>
        <li>
          <a href={config.facebook}>
            <img width={23} src="/fbLogo.svg" alt="facebook logo" />
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
