---
import NavMenu from "../components/NavMenu.astro";
import TopMessage from "../components/TopMessage.astro";

export interface Props {
  title: string;
  ogImage?: string;
}

const { title, ogImage } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta
      property="og:title"
      content={`Liceo Nibaldo Sepúlveda Fernández | ${title}`}
    />
    <meta
      property="og:description"
      content="Ofrecemos una educación de calidad y un ambiente de aprendizaje inclusivo y estimulante"
    />
    {
      ogImage && (
        <>
          <meta property="og:image" content={ogImage} />
          <meta property="og:image:width" content="1200" />
          <meta property="og:image:height" content="630" />
          <meta property="og:image:type" content="image/jpeg" />
          <meta property="og:image:alt" content={title} />
        </>
      )
    }

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta
      property="twitter:title"
      content={`Liceo Nibaldo Sepúlveda Fernández | ${title}`}
    />
    <meta
      property="twitter:description"
      content="Ofrecemos una educación de calidad y un ambiente de aprendizaje inclusivo y estimulante"
    />
    {ogImage && <meta property="twitter:image" content={ogImage} />}

    <title>Liceo Nibaldo Sepúlveda Fernández | {title}</title>
  </head>
  <body class="text-gray-900">
    <TopMessage />
    <NavMenu />
    <slot />
  </body>
</html>
